/* Resetear algunos estilos por defecto del navegador */
body, h1, p, ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}


nav {
    padding: 30px;
    text-align: end;
    opacity: 0.5;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: rgb(0, 34, 255);
    font-weight: bold;
    transition: color 0.3s; /* Transición de color al pasar el mouse */
}

a:hover {
    color: #00ffee; /* Cambia el color al pasar el mouse */
}

.section {
    margin: 20px auto;
    padding: 40px;
    background-color: #e20404;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1240px;
    justify-content: end;
}

.contenedor{
    background-color: #ffff;
    height: 100vh;
    margin: 5%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    border: #00ffee;
    justify-content: flex-start;
    align-items: center;
}
 
.contenedor div{

    justify-items: flex-start;
    align-items: flex-start;

}

footer{

    background: -webkit-linear-gradient(to right, hsla(252, 100%, 49%, 0.61), hsla(252, 100%, 49%, 0.61)), url(../Resources/img/fondo.jpg);  
    background: linear-gradient(to right, hsla(199, 100%, 50%, 0.61), hsla(199, 100%, 50%, 0.61)), url(../Resources/img/fondo.jpg); 
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
    height: 40px;
    padding: 6px 0 6px 0;
    margin: auto;
    overflow: hidden;
}