/* Resetear algunos estilos por defecto del navegador */
body, h1, p, ul {
    margin: 0;
    padding: 0;
    text-align: center;
}


nav {
    padding: 30px;
    text-align: end;
    opacity: 0.5;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: rgb(0, 34, 255);
    font-weight: bold;
    transition: color 0.3s; /* Transición de color al pasar el mouse */
}

a:hover {
    color: #00ffee; /* Cambia el color al pasar el mouse */
}

